/* This is the container that will wrap all the elements */
.contents {
  display: flex;
  padding: 15px 15px;
  justify-content: space-between;
  background-color: #3c3c3c;
}

/* Set div display : flex & align + justify items in the center */

/* Set span overflow hidden & max width to 200px & text overflow to ellipsis */
